
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Real Time RSVP";
}

<div class="page-header">
    <h1>Real Time Seat Reservation<br><small>A sample application using SignalR</small></h1>
</div>

<ul class="list-group">
    <li class="list-group-item">Select an action from the "Actions" drop-down menu.</li>
    <li class="list-group-item">Reserve a seat, availability is shown in real time.</li>
    <li class="list-group-item">Open the page using different tabs. A reservation in a session is immediately reflected in the others.</li>
    <li class="list-group-item">There is an action to clear the database.</li>
    <li class="list-group-item">Statistics can be shown</li>
</ul>